= form_with model: @group, local: true do |f|
  = f.select :name, [["--", 0],["2階病棟", 1],["3階病棟", 2],["4階病棟",3]]
  = f.collection_check_boxes :user_ids, User.where(name: current_user.name), :id, :name
  = f.submit "Save", class: "SettingGroupForm__button"