.month_date{
  display: flex;
  justify-content: center;
  .date2{
    li {
      margin: 1em auto;
      padding: 1em;
      width: 90%;
      color: #666; /* 文字色 */
      background-color: #f7f7f7; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
     }
  }

  .date{
    li {
      margin: 1em auto;
      padding: 1em;
      width: 90%;
      color: #666; /* 文字色 */
      background-color: #f7f7f7; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
     }
  }
}

.user{
  font-size: 50px;  
  text-align: center;
  &_name{
    margin: 2em auto;
    padding: 1em;
    width: 90%;
    background-color: #fff; /* 背景色 */
    border: 1px solid;
    }
   }
