.month_date{
  display: flex;
  justify-content: center;
  font-weight: bold;
  .date2{
    li {
      margin: 1em auto;
      padding: 1em;
      width: 90%;
      color: #666; /* 文字色 */
      background-color: #f7f7f7; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
     }
  }

  .date{
    li {
      margin: 1em auto;
      padding: 1em;
      width: 90%;
      color: #666; /* 文字色 */
      background-color: #f7f7f7; /* 背景色 */
      border: 1px solid #ccc; /* 枠線 */
     }
  }
}



.temperature-view{
  width: 500px;
  padding:40px 450px;
  #budget_d{

  text-align: center;
  &_name{
    margin: 2em auto;

}

.group-name{
  font-size: 50px;
  text-align: center;
  margin: 2em auto;

    padding: 1em;
    width: 90%;
    background-color: #fff; /* 背景色 */
    border: 1px solid;

    }
   }
}

.member{
  
  margin: 1em auto;
  padding: 1em;
  width: 10%;
  color: #666; /* 文字色 */
  background-color: #f7f7f7; /* 背景色 */
  border: 1px solid #ccc; /* 枠線 */
  font-weight: bold;
 }

.select-box{
  width: 500px;
  padding:40px 450px;
.day_select{
  justify-content: center;
  height: 48px;
      width: 100%;
      border: 1px solid rgb(204,204 ,204);
      font-size: 16px; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
}
}

#budget_d{
  justify-content: center;
  height: 48px;
      width: 100%;
      border: 1px solid rgb(204,204 ,204);
      font-size: 16px; 
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 5px;
}


.select-text{
  padding-left: 450px;
  padding-top: 30px;
  text-decoration: underline;
  font-size: 20px;
}


a:hover {
 
  color:#999;
  text-decoration:underline;
   
  }

  a{
    color: blue;
  }

.text  {
  padding-left: 450px;
  padding-top: 20px;
  text-decoration: none;
  font-size: 20px;
    }

.java-text{
  padding-left: 450px;
  padding-top: 20px;
  text-decoration: none;
  font-size: 20px;
}


.under_tempereture{
margin-top: 30px;
}

.submit-btn{
  padding-left: 450px;
      color: #fff;
      font-family: Arial,游ゴシック体,YuGothic,メイリオ,Meiryo,sans-serif;
      font-size: 17px;
      min-height: 48px;
      border-radius: 4px;
      border: 1px solid transparent;
      box-sizing: border-box;
      display: inline-block;
      font-weight: 600;
      line-height: 1;
      overflow: hidden;
      text-align: center;
      text-decoration: none;
}

.day{
  justify-content: center;
}

.body-status-view{
  height: 535px;
  width: 100%;
  .user{
    font-size: 50px; 
    text-align: center;
    .user_name{
      font-weight: bold;
      padding-top: 20px;
    }
  }
}
